*{
  padding: 0;
  margin: 0;
}

body {
    background-color: lightblue;
  }
  
  h1 {
    color: white;
    text-align: center;
  }
  
  p {
    font-family: verdana;
    font-size: 20px;
  }




.NavBar{
  background-color: blueviolet;
  height: 100px;
  width: auto;
} 

div ul {
  float: right;
  list-style-type: none;
  padding: 500px;
}

div ul li {
  display: inline;
}

div li a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}

table, th, td {
  border:1px solid black;
}
